body {
    margin: 0;
}

/*Navbar*/
#nav {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    z-index: 1000;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#nav li {
    display: inline-block;
    margin: 0 130px;
    color: WHITE;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
}

.hov {
    background: rgba(0, 0, 0, 0.5);
}
/*Cover Image*/
#cover {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
}

.coverBack {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#goldengate {
    background-color: #023484;
}

#cover img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#circle {
    position: relative;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

#circle img {
    height: 100%;
}

#name {
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titleDescr {
    font-size: 30px;
}

/*About*/
#about {
    height: 100vh;
    background: #063f9b;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#descr {
    font-size: 30px;
    width: 50%;
    padding-top: 50px;
    margin-left: 100px;
    color: WHITE;
}

.greeting {
    font-size: 60px;
    font-weight: 900;
}

#social {
    position: absolute;
    right: 100px;
    top: 50px;
    font-size: 40px;
    font-weight: 900;
    padding: 20px;
    color: white;
}

#social a {
    padding: 10px 20px;
    text-align: center;
    transition: 500ms;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

#github {
    background: #a83aa8;
}

.box {
    -webkit-box-shadow: -11px 11px 29px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: -11px 11px 29px -1px rgba(0,0,0,0.64);
    box-shadow: -11px 11px 29px -1px rgba(0,0,0,0.64);
}

#linkedIn {
    background: #3399FF;
    margin-top: 40px;
}

#img-gall {
    font-size: 0;
    margin-left: 100px;
    margin-top: 50px;
}

.skillImg {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: -11px 11px 29px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: -11px 11px 29px -1px rgba(0,0,0,0.64);
    box-shadow: -11px 11px 29px -1px rgba(0,0,0,0.64);
}

.skillImg img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: WHITE;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    width: 80%;
    text-align: center;
}

.skills ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.skills li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skillImg .coverBack {
    background: #2e2f30;
    opacity: 0.6
}

#bull {
    margin: 0 75px;
}

.skill-cont {
    display: none;
}

/*Contact Form*/
#contact {
    height: 75vh;
    background: #009973;
    color: WHITE;
    font-family: 'Open Sans', sans-serif;
}

#container {
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.entry {
    display: block;
    margin: 30px 0;
    width: 200px;
    font-size: 16px;
}

#text {
    height: 200px;
    width: 100%;
}

#button {
    background: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: WHITE;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

/*Footer*/
#footer {
    height: 25vh;
    background: BLACK;
    position: relative;
}

#sig {
    position: absolute;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: WHITE;
    font-weight: 900;
}
